button.hi{
  background-color: peachpuff;
  border: lightblue solid 6px;
  font-size:30px;
  border-radius:20px;
  color:#5F87E0;
  margin-left:710px;
}
button.hi:hover{
  background-color:#E4FF90;
  border-color:#ACE6C2;
}
div>button {
  width: 140px;
  height: 140px;
  margin: 0;
  background-color: lightsalmon;
  border: 5px solid chocolate;
  color:white;
  font-size:80px;
  border-radius:0;
}
div{
  text-align:center
}
.big{
  text-align:center;
  font-size:100px;
}
h1{
  text-align:center;
  font-size:80px;
  color: #de9e2f;
  font-family: "Adobe Garamond Pro";
  margin-top:0;
}
p{
  margin-bottom:0;
}
