button.hi{
  background-color: peachpuff;
  border: lightblue solid 6px;
  font-size:20px;
  border-radius:20px;
  color:#5F87E0;
  font-family: "Courier New";
  width:130px;
  height:40px;
  font-weight:bold;
}
div.button{
  text-align:center;
  font-family: "Courier New";

}
button.hi:hover{
  background-color:#E4FF90;
  border-color:#ACE6C2;
}
div>button {
  width: 120px;
  height: 120px;
  margin: 0;
  background-color: lightsalmon;
  border: 5px solid chocolate;
  color:white;
  font-size:68px;
  border-radius:0;
  font-family: "Courier New";
  font-weight:bold;
}
div{
  text-align:center
}
.big{
  text-align:center;
  font-size:100px;
}
h1{
  text-align:center;
  font-size:80px;
  color: #de9e2f;
  font-family: "Courier New";
  margin-top:0;
}
p{
  margin-bottom:0;
  font-family: "Courier New";
  font-weight:bold;
  color:#576296;
}
