button.hi{
  background-color: peachpuff;
  border: lightblue solid 6px;
  font-size:20px;
  border-radius:20px;
  color:#5F87E0;
  font-family: lato;
  width:140px;
  height:50px;
  font-weight:bold;
}
div.button{
  text-align:center;
  font-family: lato;

}
button.hi:hover{
  background-color:#E4FF90;
  border-color:#ACE6C2;
}
div.innertile {
  width: 120px;
  height: 120px;
  margin: 0px;
  background-color: lightsalmon;
  border: 5px solid chocolate;
  color:white;
  font-size:60px;
  padding-top:10px;
  border-radius:0;
  font-family: lato;
  font-weight:bold;
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}
div{
  text-align:center
}
.big{
  text-align:center;
  font-size:100px;
}
h1{
  text-align:center;
  font-size:80px;
  color: #de9e2f;
  font-family: lato;
  margin-top:0;
}
p{
  margin-bottom:0;
  font-family: lato;
  font-weight:bold;
  color:#576296;
}
